html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-right: 15px;
}

.photos {
    border: thin solid gray;
    margin-bottom: 50px;
}

.photos .photo {
    border: thin solid black;
    border-radius: 2px;
    margin: 4px;
}

.photos .photo img {
    width: auto;
    height: 170px;
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: thin solid red;
}

.navbar .navitem {
    display: block;
    width: 50%;
    float: left;
    height: 50px;
    text-align: center;
}
