::-webkit-scrollbar {
    display: none;
}

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fafafa;
}

.photos {
    border-left: 1px solid #efefef;
    border-right: 1px solid #e4e4e4;
    max-width: 300px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 10px 40px 100px 40px;
}

.photos .refresh {
    text-decoration: underline;
    color: #9c9c9c;
    font-weight: 300;
    font-size: 12px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.empty-wrapper {
    width: 100%;
    display: table;
}
.empty-wrapper .empty {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.photos .loading-up,
.photos .nothing-here {
    color: #9c9c9c;
    font-weight: 300;
    font-size: 12px;
    display: block;
    text-align: center;
}

.photos .nothing-here .heart {
    line-height: 14px;
}

.photos article {
    background-color: white;
    border: thin solid #efefef;
    border-radius: 4px;
    margin-bottom: 30px;
}

.photos article .topbar {
    color: #696969;
    font-size: 12px;
    margin: 10px 5px;
    clear: both;
    font-weight: 300;
}

/* Clearfix taken from https://css-tricks.com/all-about-floats/ */
.photos article .topbar:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.photos article .topbar a[rel="author"] {
    margin: 0;
    color: #696969;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.photos article .topbar time {
    float: right;
}

.photos article .photo {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.photos article .photo .heart {
    position: absolute;
    top: 10px;
    right: 10px;
}

.photos article .photo img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 0;
    margin: 0;
    image-rendering: crisp-edges;
}

.photos article h1 {
    font-size: 12px;
    margin: 10px 5px;
    font-weight: 400;
    display: block;
    overflow: hidden;
}

.photos article h1 a {
    color: #9c9c9c;
    transition: all .08s ease;
    text-decoration: none;
}

.photos article:hover h1 a {
    color: #2f2f2f;
}

.navbar {
    max-width: 400px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    width: 100%;
    display: table;
    margin-bottom: 10px;
    border-top: thin solid #46b8da;
    border-bottom: thin solid #269abc;
}

.navbar .navitem {
    display: table-cell;
    height: 50px;
    padding: 5px 0;
    text-align: center;
    width: 50%;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    background-color: #5bc0de;
}

.navbar .navitem.active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background-color: #31b0d5;
}
